body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f2f2f2;
}

/* Navbar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
}

/* Hero */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 50px;
}

.hero-text h2 {
  font-size: 34px;
}

.hero-text span {
  color: blue;
}

.hero-text p {
  margin: 10px 0 20px;
}

.hero img {
  width: 250px;
}

/* Sections */
section {
  padding: 60px 50px;
  text-align: center;
}

section p {
  max-width: 800px;
  margin: auto;
}

/* Skills */
.skills {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.skill {
  padding: 10px 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #333;
}

/* Projects */
.projects {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.project {
  width: 250px;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  text-align: left;
}

/* Contact */
.contact {
  max-width: 500px;
  margin: auto;
  text-align: left;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

/* Button */
button {
  background: blue;
  color: white;
  padding: 10px;
  border: none;
  width: 100%;
}

/* Footer */
footer {
  background: #eee;
  text-align: center;
  padding: 15px;
} 